---
import { Image } from "astro:assets";
import Layout from "../layouts/layout.astro";
import overloadLogo from "../assets/overload.png";
---

<Layout title="プライバシーポリシー">
  <header>
    <Image src={overloadLogo} alt="overload logo" />
  </header>
  <main></main>
</Layout>

<style></style>
