---
import { Image } from "astro:assets";
import overloadLogo from "../assets/overload.png";
---

<header>
  <Image src={overloadLogo} alt="overload logo" width={50} />
  <h1>OVERLOAD</h1>
</header>
<style>
  header {
    display: flex;
    height: 50px;
    align-items: center;
    padding: var(--spacing-s);
    & > h1 {
      font-size: var(--fontsize-2xl);
      font-family: var(--font-iconic);
      font-style: italic;
      font-weight: 600;
      background: var(--gradient-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
</style>
