---
import Variables from "../styles/variables.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Variables />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style>
      html {
        background-color: var(--color-black800);
      }
    </style>
  </body>
</html>
